.header {
  padding: 10px;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: lightgreen;

  &-logout {
    margin-left: auto;
  }
}

:host ::ng-deep h2 {
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;

  &-active {
    background-color: lightblue;
  }
}
